@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  color: #EBE7D9 ;
}

.App {
  width: 100vw;
  background-color: #2A3C47;
}

.topMenu{
  width: 100vw;
  display: flex;
  background-color: #0F222D;
  justify-content: space-between;
}
.logo{
  margin-left: 4%;
}

.topMenu .button .linkb {
  text-align: center;
  text-decoration: none;
  color: white
}

.first{
display: flex;
justify-content: space-evenly;

width: 50%;
}

.first .button{
  width: 20%;
  height: 30%;
  margin-top: auto;
  margin-bottom: auto;
}


.first .button .link{
  display: flex;
}


.secondHeader {
  width: 100vw;
  background: #FFF5D0;
display: flex;
justify-content: space-between;
  color:  #0F222D;
  font-size: 1rem;
}

.welcome {
  display: flex;
  padding: 15px 20px 15px 15px;
}

.join {
  display: flex;
  justify-content: space-between;
  padding: 15px 23px 15px 15px;
}

footer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footermenu{
  display: flex;
  flex-direction: column;
}
.copyright {
  text-align: center;
}

.link{
  text-decoration: none;
}

.signIn{
  text-decoration: none;
  color: #0F222D;
  padding-left: 8px;
}

.signIn:hover{
  filter: brightness(350%) 
}

.textforborder{
  border-right: 1.5px solid #0F222D;
  padding-right: 15px;
}
.links{
  text-decoration: none;
}

.title{
  padding-top: 10px;
  font-size: 3rem;
  letter-spacing: 4px;
  text-align: center;
  font-family: 'Yellowtail', 'cursive';
}

.dropdownmenu{
  display: flex;
  flex-direction: column;
  background : #ffffff;
  padding: 10px;
}

.dropdown{
  font-size: 20px;
  text-decoration: none;
  background: none;
  color: black
}


.main{
  width: 100vw;
  height: 100vh;
}
.mainPic {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: block;
  /* background-image: url('./Components/Data/pics/shack.jpg'); */
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Mainbtn{
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button{
  display:inline-block;
  font-size: 18px;
  letter-spacing: 0.9px;
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-radius: 3px;
  border: 1px solid transparent;
  overflow: hidden;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  background-color: #BA3521;
  padding: 10px 16px 10px 16px;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
  width: 100%;
}

.button:hover{
  filter: brightness(80%) 
}

.mainPic .button{
  width: 500px;
}
.landing{
  width: 100vw;
}

.locationMain {
  position: relative;
  text-align: center;
  color: white;
  width: 100vw;
  height: 500px;


}
.locationMain .button{
  width: 300px;
}

.nearYou{
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
 

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.locName{
  font-size: 3.5em; 
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  font-family: 'Yellowtail', 'cursive';
}
.loc{
  display:flex;
}

.locationImage{

  font-size: 3rem;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  background-position: center;
  width: 100vw;
  height: 500px;
  filter: blur(3px);
  -webkit-filter: blur(3px);

}
.location_icon{
  transform: scale(3);
  padding-left: 5px;
  padding-top: 5px;
}

.pizzaLink{
  padding-top:2% ;
  margin: 0 auto;
  margin-bottom: 2%;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Components/Data/pics/pizza.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;
  font-size: 3rem;
}
.pizzaLink:hover{
  padding-top:2% ;
  margin: 0 auto;
  margin-bottom: 2%;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./Components/Data/pics/pizza.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;
  font-size: 3rem
}


.wingsLink{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Components/Data/pics/wings.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;
}

.wingsLink:hover{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./Components/Data/pics/wings.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;

}
.sidesLink{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Components/Data/pics/sides.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;
}
.sidesLink:hover{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./Components/Data/pics/sides.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;
}
.pastaLink{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Components/Data/pics/pasta.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;
}
.pastaLink:hover{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./Components/Data/pics/pasta.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;
}
.dessertLink{
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Components/Data/pics/dessert.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;
  padding-top:2% ;
}

.dessertLink:hover{
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./Components/Data/pics/dessert.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;
  padding-top:2% ;
}
.drinksLink{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Components/Data/pics/drinks.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;

}

.drinksLink:hover{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./Components/Data/pics/drinks.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 800px;

}
.boxedMenu{
  display: flex;
}

.Menu{
width: 50vw;
height: 800px;

 
}


.landingMenu {
  padding-left: 2%;
}

.dealBox{
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  background-position: center;
  width: 50vw;
  height: 800px;

}

.dealBox:hover{
  filter: brightness(80%)
}

.dealsdescription{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.box{
  width: 400px;
  height: 400px;
  display:flex;
  border: 1px solid transparent;
  flex-direction: column;
  justify-content: space-between;
}

.IMGBox{
  width: 100%;
  height: 100%;


}

.dealsLanding {
  position: relative;
  text-align: center;
  color: white;
  width: 50vw;
  height: 800px;
}
.menuLink{
  font-size: 4rem;
  font-family: 'Yellowtail', cursive

}


.box .button{
  width: 40%;
}

.pizzalink{
  text-decoration: none;
  font-size: 2rem;
  color : #EBE7D9;
  

}

.para{
  font-size: 1.5rem;
  padding: 2%;
}

.desc{
  display: flex;
  width:  40vw;

  padding: 5%;
}

footer{
  padding-top: 10%;
}

.faqHeader{
  text-align: center;
  padding: 5%;
}

.thin {
height: .5px;
border: 0;
color: #333;
background-color: #333;
width: 70%;
text-align: center;
margin: 1%;
}


.regTitle{
  margin: 2%;
}

.buttonBox .button{
  width: 40%;
  text-align: center;
}

.btnBox .button{
  width: 50%;
  margin: 3%;

}



.search .button {
  width: 10%;
  margin: 3%;

}

#map{
  visibility: visible;
}

.marker {
  background-color:red;
  background-size: cover;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel {
  position: relative;
}

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.pageTitle{
  font-family: 'Yellowtail', 'cursive';
  font-size: 4rem;
  letter-spacing: 5px;
  margin-left: 3%;
  margin-top: 2%;
}

.empty{
  text-align: center;
}

.infoBox{
  padding: 1%;
}





.crust {
  width: 700px;
  height: 700px;
  border-radius: 800px;
  background: #ab5f2b;
  box-shadow: inset 0 0 40px #e5a53b;
  border: 1px solid #ab5f2b;
}

.crust-garlic {
background-color: #DEB887;
box-shadow: inset 0 0 40px #DAA520;
}

.crust-pretzel {
background-color: #8B4513;
box-shadow: inset 0 0 40px 	#A0522D;
}

.sauce {
  position: absolute;
  width: 620px;
  height: 620px;
  border-radius: 720px;
  background: #640d15;
  margin: 40px 0 0 40px;
  box-shadow: inset 0 0 10px #dd2f25;
}

.sauce-white {
background: #fff4aa;
}
.sauce-bbq {
  background: #8b4513;
}

.sauce-buffalo{
  background: #ff8c00;
}

.cheese {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 700px;
  background: #f3d255;
  margin: 50px 0 0 50px;
  z-index: 10;
  box-shadow: inset 0 0 200px #d88e24;
}


/*--- Pepperoni ---*/
#pepperoni section:nth-child(7) {
  -moz-transform: rotate(12deg) translate(-4px, -600px);
  -webkit-transform: rotate(12deg) translate(-4px, -600px);
  -o-transform: rotate(12deg) translate(-4px, -600px);
  transform: rotate(12deg) translate(-4px, -600px);
}

.pep {
  position: absolute;
  width: 80px;
  height: 70px;
  border-radius: 60px;
  background: #b3241c;
  z-index: 15;
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
  box-shadow: inset 0 0 85px #711712;
  border: 2px solid #871b15;
  text-indent: -9999px;
  color: #fff;
}
/*.pep:hover{
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
} */
.pep.one {
  margin: 60px 0 0 305px;
}

.pep.two {
  margin: 75px 0 0 390px;
}

.pep.three {
  margin: 115px 0 0 470px;
}

.pep.four {
  margin: 190px 0 0 525px;
}

.pep.five {
  margin: 275px 0 0 555px;
}

.pep.six {
  margin: 365px 0 0 550px;
}

.pep.seven {
  margin: 450px 0 0 515px;
}

.pep.eight {
  margin: 515px 0 0 450px;
}

.pep.nine {
  margin: 555px 0 0 365px;
}

.pep.ten {
  margin: 560px 0 0 270px;
}

.pep.eleven {
  margin: 560px 0 0 270px;
}

.pep.twelve {
  margin: 524px 0 0 182px;
}

.pep.thirteen {
  margin: 265px 0 0 355px;
}

.pep.fourteen {
  margin: 233px 0 0 445px;
}

.pep.fifteen {
  margin: 467px 0 0 340px;
}

.pep.sixteen {
  margin: 194px 0 0 197px;
}

.pep.seventeen {
  margin: 329px 0 0 458px;
}

.pep.eightteen {
  margin: 461px 0 0 115px;
}

.pep.nineteen {
  margin: 380px 0 0 69px;
}

.pep.twenty {
  margin: 287px 0 0 60px;
}

.pep.twenty-one {
  margin: 197px 0 0 86px;
}

.pep.twenty-two {
  margin: 125px 0 0 141px;
}

.pep.twenty-three {
  margin: 84px 0 0 218px;
}

.pep.twenty-four {
  margin: 150px 0 0 278px;
}

.pep.twenty-five {
  margin: 167px 0 0 374px;
}

.pep.twenty-six {
  margin: 457px 0 0 247px;
}

.pep.twenty-seven {
  margin: 426px 0 0 426px;
}

.pep.twenty-eight {
  margin: 390px 0 0 177px;
}

.pep.twenty-nine {
  margin: 290px 0 0 153px;
}

.pep.thirty {
  margin: 362px 0 0 267px;
}

.pep.thirty-one {
  margin: 270px 0 0 257px;
}

.pep.thirty-three {
  margin: 358px 0 0 365px;
}

/*--- Mushrooms ---*/
.mushroom {
  position: absolute;
  width: 70px;
  height: 75px;
  z-index: 20;
  margin: 200px 0 0 200px;
  text-indent: -9999px;
}

.cap {
  width: 70px;
  height: 35px;
  background: #b49989;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  z-index: 20;
  position: relative;
}

.stem {
  width: 35px;
  height: 35px;
  background: #c3b5ae;
  margin-left: 17px;
  margin-top: -10px;
}

.mushroom.one {
  margin: 367px 0 0 122px;
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);
}

.mushroom.two {
  margin: 229px 0 0 170px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.mushroom.three {
  margin: 307px 0 0 201px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

.mushroom.four {
  margin: 127px 0 0 335px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.mushroom.five {
  margin: 215px 0 0 340px;
  -webkit-transform: rotate(-86deg);
  -moz-transform: rotate(-86deg);
  -o-transform: rotate(-86deg);
  transform: rotate(-86deg);
}

.mushroom.six {
  margin: 301px 0 0 290px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.mushroom.seven {
  margin: 417px 0 0 320px;
  -webkit-transform: rotate(-101deg);
  -moz-transform: rotate(-101deg);
  -o-transform: rotate(-101deg);
  transform: rotate(-101deg);
}

.mushroom.eight {
  margin: 507px 0 0 304px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}

.mushroom.nine {
  margin: 507px 0 0 381px;
  -webkit-transform: rotate(133deg);
  -moz-transform: rotate(133deg);
  -o-transform: rotate(133deg);
  transform: rotate(133deg);
}

.mushroom.ten {
  margin: 427px 0 0 381px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.mushroom.eleven {
  margin: 281px 0 0 90px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.mushroom.twelve {
  margin: 307px 0 0 423px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.mushroom.thirteen {
  margin: 440px 0 0 170px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.mushroom.fourteen {
  margin: 397px 0 0 480px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.mushroom.fifteen {
  margin: 177px 0 0 451px;
  -webkit-transform: rotate(-86deg);
  -moz-transform: rotate(-86deg);
  -o-transform: rotate(-86deg);
  transform: rotate(-86deg);
}

.mushroom.sixteen {
  margin: 227px 0 0 250px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.mushroom.seventeen {
  margin: 137px 0 0 231px;
  -webkit-transform: rotate(-101deg);
  -moz-transform: rotate(-101deg);
  -o-transform: rotate(-101deg);
  transform: rotate(-101deg);
}

.mushroom.eighteen {
  margin: 377px 0 0 230px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}

.mushroom.nineteen {
  margin: 507px 0 0 381px;
  -webkit-transform: rotate(133deg);
  -moz-transform: rotate(133deg);
  -o-transform: rotate(133deg);
  transform: rotate(133deg);
}

.mushroom.twenty {
  margin: 427px 0 0 381px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.mushroom.twenty-one {
  margin: 277px 0 0 505px;
  -webkit-transform: rotate(-27deg);
  -moz-transform: rotate(-27deg);
  -o-transform: rotate(-27deg);
  transform: rotate(-27deg);
}

.mushroom.twenty-two {
  margin: 509px 0 0 224px;
  -webkit-transform: rotate(-29deg);
  -moz-transform: rotate(-29deg);
  -o-transform: rotate(-29deg);
  transform: rotate(-29deg);
}

.mushroom.twenty-three {
  margin: 477px 0 0 464px;
  -webkit-transform: rotate(-29deg);
  -moz-transform: rotate(-29deg);
  -o-transform: rotate(-29deg);
  transform: rotate(-29deg);
}

.mushroom.twenty-four {
  margin: 98px 0 0 417px;
  -webkit-transform: rotate(-29deg);
  -moz-transform: rotate(-29deg);
  -o-transform: rotate(-29deg);
  transform: rotate(-29deg);
}

.mushroom.twenty-five {
  margin: 169px 0 0 510px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

.mushroom.twenty-six {
  margin: 66px 0 0 280px;
  -webkit-transform: rotate(-29deg);
  -moz-transform: rotate(-29deg);
  -o-transform: rotate(-29deg);
  transform: rotate(-29deg);
}

.mushroom.twenty-seven {
  margin: 347px 0 0 561px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

.mushroom.twenty-eight {
  margin: 151px 0 0 151px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

.mushroom.twenty-nine {
  margin: 441px 0 0 101px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mushroom.thirty {
  margin: 581px 0 0 311px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mushroom.thirty-one {
  margin: 224px 0 0 91px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.mushroom.thirty-two {
  margin: 357px 0 0 342px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}


/*--- Green Peppers ---*/
.green-pepper {
  position: absolute;
  width: 20px;
  height: 45px;
  background: #2f5e20;
  box-shadow: 2px 2px 2px rgba(66, 132, 45, .9);
  margin: 250px 0 0 400px;
  z-index: 30;
}

.green-pepper.one {
  margin: 200px 0 0 100px;
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);
}

.green-pepper.two {
  margin: 450px 0 0 500px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.green-pepper.three {
  margin: 195px 0 0 200px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.green-pepper.four {
  margin: 90px 0 0 300px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.green-pepper.five {
  margin: 500px 0 0 300px;
  -webkit-transform: rotate(-86deg);
  -moz-transform: rotate(-86deg);
  -o-transform: rotate(-86deg);
  transform: rotate(-86deg);
}

.green-pepper.six {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.green-pepper.seven {
  margin: 340px 0 0 295px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.green-pepper.eight {
  margin: 500px 0 0 150px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.green-pepper.nine {
  margin: 300px 0 0 100px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.green-pepper.ten {
  margin: 400px 0 0 200px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}

.green-pepper.eleven {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.green-pepper.twelve {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.green-pepper.thirteen {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.green-pepper.fourteen {
  margin: 210px 0 0 300px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

.green-pepper.fifteen {
  margin: 420px 0 0 290px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.green-pepper.sixteen {
  margin: 150px 0 0 410px;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  transform: rotate(50deg);
}

.green-pepper.seventeen {
  margin: 260px 0 0 510px;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  transform: rotate(80deg);
}

.green-pepper.eightteen {
  margin: 400px 0 0 410px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.green-pepper.nineteen {
  margin: 280px 0 0 390px;
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}

.green-pepper.twenty {
  margin: 530px 0 0 420px;
  -webkit-transform: rotate(-100deg);
  -moz-transform: rotate(-100deg);
  -o-transform: rotate(-100deg);
  transform: rotate(-100deg);
}

.green-pepper.twenty-one {
  margin: 360px 0 0 540px;
  -webkit-transform: rotate(69deg);
  -moz-transform: rotate(69deg);
  -o-transform: rotate(69deg);
  transform: rotate(69deg);
}


#pepperoni section:nth-child(7) {
  -moz-transform: rotate(12deg) translate(-4px, -600px);
  -webkit-transform: rotate(12deg) translate(-4px, -600px);
  -o-transform: rotate(12deg) translate(-4px, -600px);
  transform: rotate(12deg) translate(-4px, -600px);
}

.sausage {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background: #a0522d;
  z-index: 15;
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
  box-shadow: inset 0 0 85px #8b4513;
  border: 2px solid #cd853f;
  text-indent: -9999px;
  color: #fff;
}
/*.pep:hover{
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
} */
.sausage.one {
  margin: 80px 0 0 305px;
}

.sausage.two {
  margin: 95px 0 0 390px;
}

.sausage.three {
  margin: 125px 0 0 470px;
}

.sausage.four {
  margin: 200px 0 0 525px;
}

.sausage.five {
  margin: 285px 0 0 555px;
}

.sausage.six {
  margin: 375px 0 0 550px;
}

.sausage.seven {
  margin: 460px 0 0 515px;
}

.sausage.eight {
  margin: 525px 0 0 450px;
}

.sausage.nine {
  margin: 555px 0 0 365px;
}

.sausage.ten {
  margin: 567px 0 0 270px;
}

.sausage.eleven {
  margin: 570px 0 0 270px;
}

.sausage.twelve {
  margin: 534px 0 0 182px;
}

.sausage.thirteen {
  margin: 275px 0 0 355px;
}

.sausage.fourteen {
  margin: 243px 0 0 445px;
}

.sausage.fifteen {
  margin: 477px 0 0 340px;
}

.sausage.sixteen {
  margin: 194px 0 0 197px;
}

.sausage.seventeen {
  margin: 329px 0 0 458px;
}

.sausage.eightteen {
  margin: 461px 0 0 115px;
}

.sausage.nineteen {
  margin: 380px 0 0 69px;
}

.sausage.twenty {
  margin: 287px 0 0 60px;
}

.sausage.twenty-one {
  margin: 197px 0 0 86px;
}

.sausage.twenty-two {
  margin: 125px 0 0 141px;
}

.sausage.twenty-three {
  margin: 84px 0 0 218px;
}

.sausage.twenty-four {
  margin: 150px 0 0 278px;
}

.sausage.twenty-five {
  margin: 167px 0 0 374px;
}

.sausage.twenty-six {
  margin: 457px 0 0 247px;
}

.sausage.twenty-seven {
  margin: 426px 0 0 426px;
}

.sausage.twenty-eight {
  margin: 390px 0 0 177px;
}

.sausage.twenty-nine {
  margin: 290px 0 0 153px;
}

.sausage.thirty {
  margin: 362px 0 0 267px;
}

.sausage.thirty-one {
  margin: 270px 0 0 257px;
}

.sausage.thirty-three {
  margin: 358px 0 0 365px;
}



.olives {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 10px solid black;
  box-shadow: 2px 2px 2px black;
  margin: 250px 0 0 400px;
  z-index: 30;
  
}


.olives.one {
  margin: 200px 0 0 100px;
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);
}

.olives.two {
  margin: 450px 0 0 500px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.olives.three {
  margin: 195px 0 0 200px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.olives.four {
  margin: 90px 0 0 300px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.olives.five {
  margin: 500px 0 0 300px;
  -webkit-transform: rotate(-86deg);
  -moz-transform: rotate(-86deg);
  -o-transform: rotate(-86deg);
  transform: rotate(-86deg);
}

.olives.six {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.olives.seven {
  margin: 340px 0 0 295px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.olives.eight {
  margin: 500px 0 0 150px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.olives.nine {
  margin: 300px 0 0 100px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.olives.ten {
  margin: 400px 0 0 200px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}

.olives.eleven {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.olives.twelve {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.olives.thirteen {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.olives.fourteen {
  margin: 210px 0 0 300px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

.olives.fifteen {
  margin: 420px 0 0 290px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.olives.sixteen {
  margin: 150px 0 0 410px;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  transform: rotate(50deg);
}

.olives.seventeen {
  margin: 260px 0 0 510px;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  transform: rotate(80deg);
}

.olives.eightteen {
  margin: 400px 0 0 410px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.olives.nineteen {
  margin: 280px 0 0 390px;
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}

.olives.twenty {
  margin: 530px 0 0 420px;
  -webkit-transform: rotate(-100deg);
  -moz-transform: rotate(-100deg);
  -o-transform: rotate(-100deg);
  transform: rotate(-100deg);
}

.olives.twenty-one {
  margin: 360px 0 0 540px;
  -webkit-transform: rotate(69deg);
  -moz-transform: rotate(69deg);
  -o-transform: rotate(69deg);
  transform: rotate(69deg);
}



.onions {
  position: absolute;
  width: 20px;
  height: 65px;
  background: #4B0082;
  box-shadow: 2px 2px 2px #BF5FFF;
  margin: 250px 0 0 400px;
  z-index: 30;
}

.onions.one {
  margin: 250px 0 0 150px;
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);
}

.onions.two {
  margin: 500px 0 0 500px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.onions.three {
  margin: 150px 0 0 230px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.onions.four {
  margin: 80px 0 0 400px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.onions.five {
  margin: 550px 0 0 300px;
  -webkit-transform: rotate(-86deg);
  -moz-transform: rotate(-86deg);
  -o-transform: rotate(-86deg);
  transform: rotate(-86deg);
}

.onions.six {
  margin: 400px 0 0 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.onions.seven {
  margin: 300px 0 0 330px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.onions.eight {
  margin: 500px 0 0 150px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.onions.nine {
  margin: 300px 0 0 100px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.onions.ten {
  margin: 400px 0 0 200px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}

.onions.eleven {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.onions.twelve {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.onions.thirteen {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.onions.fourteen {
  margin: 210px 0 0 300px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

.onions.fifteen {
  margin: 420px 0 0 290px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.onions.sixteen {
  margin: 150px 0 0 410px;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  transform: rotate(50deg);
}

.onions.seventeen {
  margin: 260px 0 0 510px;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  transform: rotate(80deg);
}

.onions.eightteen {
  margin: 400px 0 0 410px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.onions.nineteen {
  margin: 280px 0 0 390px;
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}

.onions.twenty {
  margin: 530px 0 0 420px;
  -webkit-transform: rotate(-100deg);
  -moz-transform: rotate(-100deg);
  -o-transform: rotate(-100deg);
  transform: rotate(-100deg);
}

.onions.twenty-one {
  margin: 360px 0 0 540px;
  -webkit-transform: rotate(69deg);
  -moz-transform: rotate(69deg);
  -o-transform: rotate(69deg);
  transform: rotate(69deg);
}


.pineapple {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 20px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #ffd300;
  box-shadow: 0px 0px 0px #ffd700;
  margin: 250px 0 0 400px;
  z-index: 30;
  text-indent: -9999;
}



.pineapple.one {
  margin: 367px 0 0 122px;
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);
}

.pineapple.two {
  margin: 229px 0 0 170px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.pineapple.three {
  margin: 307px 0 0 201px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

.pineapple.four {
  margin: 127px 0 0 335px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.pineapple.five {
  margin: 215px 0 0 340px;
  -webkit-transform: rotate(-86deg);
  -moz-transform: rotate(-86deg);
  -o-transform: rotate(-86deg);
  transform: rotate(-86deg);
}

.pineapple.six {
  margin: 301px 0 0 290px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pineapple.seven {
  margin: 417px 0 0 320px;
  -webkit-transform: rotate(-101deg);
  -moz-transform: rotate(-101deg);
  -o-transform: rotate(-101deg);
  transform: rotate(-101deg);
}

.pineapple.eight {
  margin: 507px 0 0 304px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}

.pineapple.nine {
  margin: 507px 0 0 381px;
  -webkit-transform: rotate(133deg);
  -moz-transform: rotate(133deg);
  -o-transform: rotate(133deg);
  transform: rotate(133deg);
}

.pineapple.ten {
  margin: 427px 0 0 381px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.pineapple.eleven {
  margin: 281px 0 0 90px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.pineapple.twelve {
  margin: 307px 0 0 423px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.pineapple.thirteen {
  margin: 440px 0 0 170px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.pineapple.fourteen {
  margin: 397px 0 0 480px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.pineapple.fifteen {
  margin: 177px 0 0 451px;
  -webkit-transform: rotate(-86deg);
  -moz-transform: rotate(-86deg);
  -o-transform: rotate(-86deg);
  transform: rotate(-86deg);
}

.pineapple.sixteen {
  margin: 227px 0 0 250px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pineapple.seventeen {
  margin: 137px 0 0 231px;
  -webkit-transform: rotate(-101deg);
  -moz-transform: rotate(-101deg);
  -o-transform: rotate(-101deg);
  transform: rotate(-101deg);
}

.pineapple.eighteen {
  margin: 377px 0 0 230px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}

.pineapple.nineteen {
  margin: 507px 0 0 381px;
  -webkit-transform: rotate(133deg);
  -moz-transform: rotate(133deg);
  -o-transform: rotate(133deg);
  transform: rotate(133deg);
}

.pineapple.twenty {
  margin: 427px 0 0 381px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.pineapple.twenty-one {
  margin: 277px 0 0 505px;
  -webkit-transform: rotate(-27deg);
  -moz-transform: rotate(-27deg);
  -o-transform: rotate(-27deg);
  transform: rotate(-27deg);
}


.jalepenos {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #548042	;
  border: 5px solid #3B5323;
  box-shadow: 2px 2px 2px #3B5323;
  margin: 250px 0 0 400px;
  z-index: 30;
}



.jalepenos.one {
  margin: 367px 0 0 122px;
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);
}

.jalepenos.two {
  margin: 229px 0 0 170px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.jalepenos.three {
  margin: 307px 0 0 201px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

.jalepenos.four {
  margin: 127px 0 0 335px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.jalepenos.five {
  margin: 215px 0 0 340px;
  -webkit-transform: rotate(-86deg);
  -moz-transform: rotate(-86deg);
  -o-transform: rotate(-86deg);
  transform: rotate(-86deg);
}

.jalepenos.six {
  margin: 301px 0 0 290px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.jalepenos.seven {
  margin: 417px 0 0 320px;
  -webkit-transform: rotate(-101deg);
  -moz-transform: rotate(-101deg);
  -o-transform: rotate(-101deg);
  transform: rotate(-101deg);
}

.jalepenos.eight {
  margin: 507px 0 0 304px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}

.jalepenos.nine {
  margin: 507px 0 0 381px;
  -webkit-transform: rotate(133deg);
  -moz-transform: rotate(133deg);
  -o-transform: rotate(133deg);
  transform: rotate(133deg);
}

.jalepenos.ten {
  margin: 427px 0 0 381px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.jalepenos.eleven {
  margin: 281px 0 0 90px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.jalepenos.twelve {
  margin: 307px 0 0 423px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}

.jalepenos.thirteen {
  margin: 440px 0 0 170px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.jalepenos.fourteen {
  margin: 397px 0 0 480px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}

.jalepenos.fifteen {
  margin: 177px 0 0 451px;
  -webkit-transform: rotate(-86deg);
  -moz-transform: rotate(-86deg);
  -o-transform: rotate(-86deg);
  transform: rotate(-86deg);
}

.jalepenos.sixteen {
  margin: 227px 0 0 250px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.jalepenos.seventeen {
  margin: 137px 0 0 231px;
  -webkit-transform: rotate(-101deg);
  -moz-transform: rotate(-101deg);
  -o-transform: rotate(-101deg);
  transform: rotate(-101deg);
}

.jalepenos.eighteen {
  margin: 377px 0 0 230px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}

.jalepenos.nineteen {
  margin: 507px 0 0 381px;
  -webkit-transform: rotate(133deg);
  -moz-transform: rotate(133deg);
  -o-transform: rotate(133deg);
  transform: rotate(133deg);
}

.jalepenos.twenty {
  margin: 427px 0 0 381px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.jalepenos.twenty-one {
  margin: 277px 0 0 505px;
  -webkit-transform: rotate(-27deg);
  -moz-transform: rotate(-27deg);
  -o-transform: rotate(-27deg);
  transform: rotate(-27deg);
}