

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Yellowtail', cursive;
  color: #EBE7D9
}

.App {
  width: 100vw;
  background-color: #2A3C47;
}

.topMenu{
  width: 100vw;
  display: flex;
  background-color: #0F222D;
  justify-content: space-between;
}
.logo{
  margin-left: 4%;
}

.first{
display: flex;
justify-content: space-evenly;

width: 70%;
}

.first .button{
  width: 23%;
  height: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

.first .button .link{
  display: flex;
}


.secondHeader {
  width: 100vw;
  background: #FFF5D0;
display: flex;
justify-content: space-between;
  color:  #0F222D;
  font-size: 1rem;
}

.welcome {
  display: flex;
  padding: 15px 20px 15px 15px;
}

.join {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 15px;
}

footer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footermenu{
  display: flex;
  flex-direction: column;
}
.copyright {
  text-align: center;
}

.link{
  text-decoration: none;
}

.signIn{
  text-decoration: none;
  color: #0F222D;
  padding-left: 8px;
}

.signIn:hover{
  filter: brightness(350%) 
}

.textforborder{
  border-right: 1.5px solid #0F222D;
  padding-right: 15px;
}
.links{
  text-decoration: none;
}

.title{
  padding-top: 10px;
  text-align: center;
}

.dropdownmenu{
  display: flex;
  flex-direction: column;
  background : #ffffff;
  padding: 10px;
}

.dropdown{
  font-size: 20px;
  text-decoration: none;
  background: none;
  color: black
}

.menu{
  width: 10px;
  height: 10px;
}
.main{
  width: 100vw;
  height: 100vh;
}
.mainPic {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: block;
  background-image: url('./Components/Data/pics/shack.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Mainbtn{
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button{
  display:inline-block;
  font-size: 18px;
  letter-spacing: 0.9px;
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-radius: 3px;
  border: 1px solid transparent;
  overflow: hidden;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  background-color: #BA3521;
  padding: 10px 16px 10px 16px;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
  width: 100%;
}

.button:hover{
  filter: brightness(80%) 
}

.mainPic .button{
  width: 500px;
}
.landing{
  width: 100vw;
}

.locationMain {
  background-color:#0F222D;

  width: 95%;
  margin: 2%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.locationMain .button{
  width: 300px;
}

.nearYou{
  display: flex;
  font-size: 2rem;
}
.location_icon{
  transform: scale(2);
  padding-left: 5px;
  padding-top: 5px;
}

.pizzaLink{
  padding-top:2% ;
  margin: 0 auto;
  margin-bottom: 2%;
  display: block;
  background-image: url('./Components/Data/pics/pizza.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 150px;
  font-size: 3rem;
}


.wingsLink{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background-image: url('./Components/Data/pics/wings.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 150px;
}
.sidesLink{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background-image: url('./Components/Data/pics/sides.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 150px;
}
.pastaLink{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background-image: url('./Components/Data/pics/pasta.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 150px;
}
.dessertLink{
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background-image: url('./Components/Data/pics/dessert.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 150px;
  padding-top:2% ;
}
.drinksLink{
  padding-top:2% ;
  font-size: 3rem;
  margin: 0 auto;
  display: block;
  background-image: url('./Components/Data/pics/drinks.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 150px;

}

.Menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: unset;

 
}

.landingMenu {
  padding-left: 2%;
}

.dealBox{
  width: fit-content;
  height: 200px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dealsdescription{
  display: flex;
}

.box{
  width: 400px;
  height: 400px;
  display:flex;
  border: 1px solid transparent;
  flex-direction: column;
  justify-content: space-between;
}

.IMGBox{
  display: flex;
  justify-content: center;
}

.dealsLanding {
  display:flex;
  justify-content: space-evenly;
}

.box .button{
  width: 40%;
}

.pizzalink{
  text-decoration: none;
  font-size: 2rem;
  color :black;
  

}

footer{
  padding-top: 15%;
}

.faqHeader{
  text-align: center;
  padding: 5%;
}

.thin {
height: .5px;
border: 0;
color: #333;
background-color: #333;
width: 70%;
text-align: center;
margin: 1%;
}


.regTitle{
  margin: 2%;
}

.buttonBox .button{
  width: 40%;
  text-align: center;
}

.btnBox .button{
  width: 50%;
  margin: 3%;

}

.remove{
  padding: 10%;
}

.search .button {
  width: 10%;
  margin: 3%;

}

.mapContainer {
  height: 60vh;
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.marker {
  background-color:red;
  background-size: cover;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}